# Flutter
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.melos/
*.iml

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/

# Web
web/.dart_tool/

# Others
*.log
*.tmp
*.lock
.env
# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE files
.idea/
*.iml
android/.idea/
ios/.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

pubspec.lock
