# Flutter
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.melos/
*.iml

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/

# Web
web/.dart_tool/

# Others
*.log
*.tmp
*.lock
.env
